<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
    <%= image_tag("hqdefault") %>
    </div>
    <div class="col-sm-5 col-sm-offset-3 lead">
      Your cart is empty. Go check out the products and 
      if you like something, you're likely to end up here 
      again (but without this message!)
    </div>
  <button type="button" class="btn btn-default btn-lg col-sm-4 col-sm-offset-3"> 
  <%= link_to 'Back to products', 'products#index' %></button>
</div>

